
{{>navbar}}

<h1 class="title">jogos</h1>

<div class="container">

    {{#each games}}

   <div class="card">
    <img src="{{{this.thumbnail}}}" alt="poster">
    <h3>{{{this.title}}}</h3>
   </div>
    {{/each}}



</div>


{{>footer}}